@media screen and (max-width:750px){
    #profile{
        height:83vh;
        margin-bottom: 6rem;
    }
    .about-container{
        flex-wrap: wrap;
        

}
@media screen and (max-width:990px){
    .arrow-down{
     position: absolute;
     right: -10rem;
     bottom: 2.5rem;
    }
}
@media screen and (max-width:840px){
    .desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experience ,
    .experience-details-container{
        display: block;   
    }
    #profile,
    .section-container{
        display: block;
    }
    .section,
    .section-container{
        height: fit-content;
    }
    .arrow-down{
        display: none;
    }
    section{
        margin:0 5%;
    }
    .section--pic-container{
        width: 275px;
        height: 275px;
        margin:0 auto 2rem;
    }
    .section__pic-container,
    .about-pic{
        width: 300px;
        height: 275px;
        margin:0 auto 2rem;
    }
    .about-container{
        margin-top:0;
    }
 }
 @media screen and (max-width:700px){
    #contact , footer{
        height: 45vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .contact-info-upper-container,
    .about-container,
    .btn__container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin:0;
    }
    .contact-info-container,
    .nav-links,
    p,a,li{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.5rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction:column;
        gap:1rem;
        margin-bottom:1.2rem;
        text-align: center;
    }
    .section--pic-container{
        width: auto;
        width: 46vh;
    }
    .section__text-p2{
        font-size: 1.2rem;
    }
    .section__text-p1{
        font-size: 1.2rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container p{
        font-size: 1rem;
        text-align:justify;
    }

 }
}


