/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

 /* colour lib */
 :root{
   --background-color:rgb(238, 236, 229);
   --boader-line-color:rgb(255, 255, 255);
   --all-title-color:rgb(33, 33, 33);
   --all-inside-title:rgb(52, 52, 52);
   --paragraph-color:rgb(57, 57, 57);
   --link-color:rgb(0, 0, 0);
   --container-color: rgb(231, 232, 221);
   --logo-text-color:rgb(24, 24, 24);
   --button-hover-color:rgb(28, 28, 28);
   --skills-color:rgba(71, 71, 71, 0.703);
   --button-color:rgb(238, 236, 229);
}
body{
    background-color: var(--background-color);
    font-family:"Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: var(--paragraph-color);
}
h3{
  color: var(--skills-color);

}
   /* logo */
   .logo:hover{
    text-align: center;
   }
   /* TRANSITIONS */
   a,
   .btn{
    transition: all 0.3s ease;
   }
    /* DESKTOP NAV */
   nav, 
   .nav-links{
    display: flex;
    text-align: center;
   }
   nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
   }
   .nav-links{
    list-style: none;
    gap: 2rem;
    font-size: 1.1rem;
   }
   a{
    color: var(--link-color);
    text-decoration: none;
    text-decoration-color: white;
   }
   a:hover{
    text-decoration: underline;
    color: gray;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181); 
   }
   .logo{
    font-size: 2rem;
   }
   .logo:hover{
    cursor: default;
    color: var(--logo-text-color);
   }

   /* HAMBURGER-MENU */
   #hamburger-nav{
    display: none;
   }
   .hamburger-menu{
    position:relative;
    display: inline-block;
   }
   .hamburger-icon{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
   }
   .hamburger-icon span{
    width: 100%;
    height: 15%;
    border-radius: 8rem;
    background-color: var(--all-title-color);

    transform: all 0.3 ease-in-out;
   }
   .menu-links{
    position:absolute; 
    top: 100%;
    right: 30px;
    background-color: rgba(116, 116, 116, 0); 
    width: fit-content;
    overflow: hidden; 
    max-height: 0;
    transform: all 0.3 ease-in-out;
   }

   .menu-links a{
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    color:var(--link-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
   }
   .menu-links li{
    list-style: none;
  }
   
   .menu-links.open{
    max-height: 100%;
    top:72px;
   }
   
   .hamburger-icon.open span:nth-child(1) {
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg) translate(-7px , 15px);/*this is the second bar*/
    width: 1.8rem;
   }
   /* .hamburger-icon.open span:nth-child(2) {
    animation: fadeOut 0.3s forwards;
    opacity: 0; */
   
   .hamburger-icon.open span:nth-child(2) {
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg) translate(-6px , -15px);/*this is now the first bar*/
    width: 1.8rem;
   }


   .hamburger-icon span:nth-child(1){
    transition: all 0.3s ease-in-out;
    transform: translateX(50);

  
   }
   .hamburger-icon span:nth-child(2){
    top: 50%;
    opacity: 1; 
    transform: translateY(-50);
    width:3rem;
   }
   /* .hamburger-icon span:nth-child(3){
    transition: all 0.3s ease-in-out;
    transform: none;
   } */

    /* SECTIONS */
    section{
        padding-top: 4hv;
        height: 96hv;
        margin:0 10rem;
        box-sizing: border-box;
        min-height: fit-content;
    }
    .section-container{
        display: flex;
       justify-content: center;
    }
     /* PROFILE SECTION */
     #profile{
        display: flex;
        justify-content: center;
        gap:2rem;
        height: 80hv;
     }
     .section--pic-container{
        display: flex;
        height: 400px;
        width: 400px;
        margin: auto 0;
        border: 1px solid var(--boader-line-color);
        border-radius: 50%;
     }
     .section__text{
        align-self: center;
        text-align: center;
     }
     .section__text p{
        font-weight: 600px;
     }
     .section__text-p1{
        text-align: center;
        font-weight:bolder;
        margin-bottom: 1rem;
     }
     .section__text-p2{
      text-align: center;
      font-size: 1.75rem;
      margin-bottom: 1rem;
   }
     .title{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
        color:var(--all-title-color) ;
     }
     .section__socials{
        
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
     }
     /* ICONS */
     .icon {
        cursor: pointer;
        height: 2.5rem;
     }
     /* buttons */  
     /* the other style in js */
     .btn__container{
        display: flex;
        justify-content: center;
        gap: 2rem;
     }
     .btn-color1,
     .btn-color2{
        font-weight: 600;
        padding: 1rem;
        width: 8rem;
        border-radius: 2rem;
        transition: all 300ms ease-in-out;
        border: var(--boader-line-color) 0.1rem solid;
     }
     .btn-color2:hover,
     .btn-color1 
     {
      color: var(--button-color);
      background-color: var(--button-hover-color);
     }
     .btn-color1:hover,
     .btn-color2 
     {
      color: black;
      background-color: var(--button-color);
     }
     .btn-color1:hover + .btn-color2{
      background-color: var(--button-color);
      color: black;
     }
     .btn-color2:hover + .btn-color1{
      background-color: var(--button-color);
      color: black;
     }
     /* ABOUT SECTION  */


    #about{
      position: relative;   
    }
    .section-container{
      justify-content: center;
      align-content:space-evenly;
      gap: 2rem;
      height:80% ;
    }
    .section__p1{
     text-align: center;
    }
    .about-container{
      gap: 2rem;
      margin-bottom: 2rem;
      margin-top: 2rem;

    }
    .about-details-container{
      justify-content: center;
      gap: 2rem;    
    }
    .about-container{
      display: flex;
      justify-content: center;
      margin-top: 0px;    
    }
    .arrow-down {
      position: absolute;
      right: -6rem;
      bottom: 2.5rem;
    }
    .about-details-container{
      gap:2rem ;
    }
    .details-container{
      padding: 1.5rem;
      flex: 1;
      text-align: center;
      text-wrap: wrap;
      border: 1px solid var(--boader-line-color);
      border-radius: 2rem;    
    }
    .section__pic-container {
      width: 400px;
      height: 400px;
      margin: 0 ;
      position: relative;
      border: 1px solid var(--boader-line-color);
      border-radius: 2rem;
       
    }
   
    .about-pic{
      
      height: 400px;
      width: 400px;
      border-radius: 2rem;
     
    }
    .text-container{
     color:var(--paragraph-color);
     /* margin-top:0.5rem; */
     align-content: center;
    }
    .text-container p{
      text-align: center;


    }

    /* EXPERIENCE  */
    #experience{
    position: relative;

    }
    .section__text-p1{
      margin-top: 2rem;
    }

    .experience-sub-title{
      color:var(--all-inside-title);
      font-weight: 600px;
      font-size: 1.75rem;
      margin-bottom:1rem ;

    }
    .experience-details-container{
      justify-content: center;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      gap: 2rem;
      
    }
    .article-container{
      display: flex;
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;
      float: row;
      gap: 1rem;
      justify-content: space-around;
    }
     article{
      display: flex; 
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1rem;
      

    }
    

    /* PROJECTS */

    #projects{
      position: relative; 
      
    }
    .all-projects{
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .color-container{
      background-color:var(--container-color);
      
    }
    .project-title{
        margin: 1rem;
        color:var(--all-inside-title);
    }
    .project-btn{
        color: black;
        border-color: var(--boader-line-color);

    }



    /* CONTACT  */
    #contact{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 70vh;
    }
    .contact-info-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin: 1rem;
    }
    .contact-info-upper-container{
      display: flex;
      justify-content: center;
      border-radius: 2rem;
      border: var(--boader-line-color) 0.1rem solid;
      border-color:var();
      background: var(--container-color);
      margin: 2rem auto;
      padding: 0.5rem;
    }
    .contact-info-container p{
        font-size: large;
    }
    .contact-icon{
        cursor: pointer;
        /* height: 10rem; */
    }

    /* FOOTER BRO! */
    footer{
        height: 26hv;
        margin:1rem;
    }
    footer p
    {
        text-align: center;
    }

    /* more of the skills styles */
    .frontend-base{
      display: flex;
      flex-direction: row ;
      align-items: center;
      padding:2px;
      justify-content: center;
    }
    .frontend-framework{
      display: flex;
      flex-direction: row ;
      align-items: center;
      padding:2px;
      justify-content: center;
    }